.tapCom{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px 30px 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left:0;
    background: #fff;
    font-size: 24px;
    .tapItem{
        flex: 1;
        text-align: center;
        color: #535353;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .tapImg{
            width:60px;
            height:60px;
        }
        image{
            width:60px;
            height:60px;
        }
        
    }
    .tapCurrent{
        color: #f8bc1c;
    }
    .tapMid{
        .addImg{
            position: relative;
            top:-20px;
            padding: 6px;
            border-radius: 50%;
            background: #fff;
            image{
                width:100px;
                height:100px;
            }

            
        }
        .tapTxt{
            position: relative;
            top:-40px;
        }
    }



}