.shareGroupsPage{
    width: 100%;
    height: 100%;
    padding:0 0 0 20px;
    box-sizing: border-box;
    .shareGroupsTitle{
        text-align: center;
        color:#333;
    }
    .uploadTop{
        width: 100%;
        .topItem{
            padding:10px 0 0 10px;
            box-sizing: border-box;
            .itemTitle{
                width:200px;
            }
            .itemName{
                padding: 10px;
            }
            .itemRight{
                flex: 1;
                display: flex;
                flex-flow: wrap;
                .topRadio{
                    padding: 10px 10px 0 0;
                }
            }
            .itemInput{
                border:1px solid #333;
            }
        }
    }
    .shareList{
        .listLabel{
            padding:10px;
        }
        .listBox{
            display: flex;
            flex-direction: column;
            align-items: center;
            .listItem{
                padding:10px 20px;
                .listImg{
                    width: 200px;
                }
            }
        }
        
    }
    
}

