.searchPage{
    width: 100%;
    .searchParams{
        width: 100%;
        padding:10px;
        box-sizing: border-box;
        font-size: 30px;
        .paramsTop{
            width: 100%;
            .topItem{
                display: flex;
                align-items: center;
                padding:10px 0 0 10px;
                font-size: 30px;
                .itemTitle{
                    width:100px;
                    
                }
                .itemEnd{
                    flex: 1;
                    display: flex;
                    padding: 0 20px;
                    .endBtn{
                        margin:0 0 0 20px;
                    }

                }
            }
        }
    }
    .searchContent{
        flex:1;
        justify-content: space-around;
        padding:10px;
        box-sizing: border-box;
        .leftCon{
            width: 50%;
            float:left
        }
        .rightCon{
            width: 50%;
            float:left
        }
    }
    
}

